<% if(message.error) { %>
  <% message.error.forEach(function(msg){ %>
    <div class="alert alert-danger"><%= msg %></div>
  <% })%>
 <% } %>

 <% if(message.success) { %>
   <% message.success.forEach(function(msg){ %>
     <div class="alert alert-success"><%= msg %></div>
   <% })%>
  <% } %>