<div class="list-group moveDown">
  <h2>List of Attendees</h2>
  <% arrayOfAttendees.forEach(function(attendee) {%>
    <a href="/auth/profile/<%= attendee.id%>" class="list-group-item"><%= attendee.name %></a>
  <% }) %>
</div>
